.form-wrapper {
  width: 100%;
  max-width: 390px;
  margin: 0 auto;
  padding: 0 12px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper form {
  width: 100%;
}

.form-col {
  display: flex;
  flex-direction: column;
}

.form-col label {
  margin: 13px 0 13px 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #100d0e;
}

.form-col input {
  background: #ffffff;
  border: 1px solid #100d0e;
  border-radius: 25px;
  padding: 12px;
}

.form-col input.invalid {
  border-color: #ff0055;
}

.form-col placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #b9b7b7;
}

.form-wrapper button {
  background: #03bffe;
  border-radius: 25px;
  border: unset;
  padding: 8px;
  margin-top: 20px;
  width: 100%;
  max-width: 390px;

  font-family: "Proxima Nova", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 34px;
  letter-spacing: 0.05em;
  color: #ffffff;
  cursor: pointer;
}

.form-invalid-feedback {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #ff0055;
}

.terms-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.terms-wrapper input[type="checkbox"] {
  position: relative;
  margin-left: 8px;
}

.terms-wrapper input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  border: 1px solid #000000;
  border-radius: 3px;
  background: white;
}

.terms-wrapper input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid #03bffe;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}

.terms-wrapper label {
  font-family: "Proxima Nova", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  text-decoration-line: underline;
  text-align: center;
}

.subtitle-contato {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 23px;
  color: #110d0f;
  text-align: center;
  text-transform: uppercase;
}
