.newsletter-content {
  background: transparent;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  margin-top: 149px;
  padding-bottom: 32px;
}

.newsletter-message {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  font-variant: small-caps;
  color: #303030;
  margin-top: 21px;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.newsletter-input {
  padding: 17px 16px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  width: 100%;
}

.newsletter-button {
  background: #00c8ff;
  width: 100%;
  text-align: center;
  padding: 17px;
  margin-top: 33px;
  border: unset;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

@media (min-width: 768px) {
  .newsletter-content {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .newsletter-input {
    width: 342px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
  }

  .newsletter-button {
    width: 126px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-left: 7px;
    margin-top: 0px;
  }

  .newsletter-message {
    margin-bottom: 5px;
  }
}
