.breadcrumb-list {
  margin-top: 16px;
  display: flex;
  list-style-type: none;
  align-items: center;
}

.breadcrumb-list li {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #c4c4c4;
  text-transform: uppercase;
}

.breadcrumb-list li:not(:last-child) {
  margin-right: 8px;
}

@media (min-width: 768px) {
  .breadcrumb-list {
    margin-top: 29px;
  }

  .breadcrumb-list li {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
