.menu-mobile-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu-mobile {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #00c8ff;
  color: white;
  height: 300px;
  z-index: 1;
}

.menu-mobile button {
  position: absolute;
  right: 16px;
  top: 16px;
  background: transparent;
  border: none;
  font-size: 24px;
  color: white;
}

.menu-mobile ul {
  list-style-type: none;
}

.menu-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  padding: 32px;
  display: block;
}

@media (min-width: 768px) {
  .menu-mobile-button {
    display: none;
  }
}
