.title {
  font-family: "Helvetica Neue LT Std", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #292929;
  margin-top: 32px;
  margin-bottom: 24px;
}

.content-list ul {
  list-style-type: none;
}

.content-list li {
  padding: 10px 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #7d7d7d;
}

.content-list li.active {
  background-color: #00c8ff;
  font-weight: 700;
  color: #ffffff;
}

.subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #292929;
  margin-top: 49px;
  margin-bottom: 16px;
  text-align: center;
}

.text-content {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: justify;
  color: #7d7d7d;
}

.info-icons {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 14px;
  bottom: 92px;
}

.wpp-icon {
  margin-bottom: 12px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .content-wrapper {
    max-width: 1020px;
    display: flex;
    justify-content: center;
  }

  .subtitle {
    text-align: left;
  }

  .subtitle-adjust {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .content-list {
    border-right: 1px solid #e5e5e5;
    margin-right: 32px;
  }

  .content-list ul {
    width: 270px;
    cursor: pointer;
  }
}
