.header {
  width: 100%;
  background-color: #00c8ff;
  height: 139px;
  padding: 29px 16px 16px 16px;
  display: flex;
  flex-direction: column;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 145px;
  height: 24px;
}

.cart-icon {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-right: 8px;
}

.search-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin-top: 32px;
}

.search {
  width: 100%;
  padding: 10px 16px;
  background: #ffffff;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.search::placeholder {
  color: #c4c4c4;
}

.search-icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.search-desktop {
  display: none;
}

.header-menu-desktop {
  display: none;
}

.button-login {
  display: none;
}

@media (min-width: 768px) {
  .header {
    padding: 18px 0 14px 0;
  }

  .container {
    width: 100%;
    max-width: 1131px;
    margin: 0 auto;
  }

  .search-wrapper {
    display: none;
  }

  .search-desktop {
    display: block;
    max-width: 264px;
    margin-top: unset;
  }

  .header-buttons {
    display: flex;
    align-items: center;
  }

  .button-login {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    margin-right: 40px;
  }

  .menu-link {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
  }

  .header-menu-desktop {
    display: block;
    border-top: 1px solid #c4c4c4;
    margin-top: 18px;
    padding-top: 14px;
    margin-left: 30px;
  }

  .header-menu-desktop ul {
    list-style-type: none;
    display: flex;
  }

  .header-menu-desktop li:not(:last-child) {
    margin-right: 126px;
  }
}
