.footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #303030;
  margin-top: 24px;
}

.footer ul {
  list-style-type: unset;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

.footer-list li {
  display: none;
}

.footer-icons {
  display: flex;
  gap: 10px;
}

.footer-icons ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 10px;
}

.footer-icons p {
  display: none;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  background: #585858;
  margin-top: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-transform: capitalize;
  color: #ffffff;
}

.copyright-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.copyright-icons img {
  width: 30px;
  height: 16px;
}

.copyright-icons ul {
  display: flex;
  gap: 10px;
  list-style-type: none;
  align-items: center;
}

.copyright-icons li:last-child img {
  width: 45px;
  height: 28px;
}

.border-boleto {
  border-right: 1px solid #c4c4c4;
  padding-right: 8px;
}

.copyright-paragraph {
  padding: 16px 12px;
}

.poweredby {
  display: flex;
  margin-top: 26px;
  align-items: center;
}

.text-poweredby {
  display: flex;
  margin-right: 16px;
  gap: 8px;
  align-items: center;
}

.logom3-footer {
  margin-left: 8px;
}

.desktop-only {
  display: none;
}

a {
  text-decoration: none;
  color: #303030;
}

@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: block;
  }

  .footer-lists {
    display: flex;
    gap: 60px;
  }

  .footer-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .footer-list span {
    display: none;
  }

  .footer-list li {
    display: block;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
  }
  .footer-icons {
    display: flex;
    flex-direction: column;
  }

  .footer-icons p {
    display: block;
  }

  .footer-icons ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
  }

  .footer-copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 22px 32px;
    align-items: center;
  }

  .footer-copyright span {
    max-width: 234px;
  }

  .copyright-paragraph {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 370px) {
  .copyright-icons ul {
    gap: 0;
  }

  .border-boleto {
    border: none;
  }
}
